.landing {
  .wrap-content-contact {
    width: 80%;
    margin: 0 auto;
    padding: 3% 0%;
    max-width: 1024px;
    .contact-info {
      .info-group {
        margin-top: 5%;
        h3 {
          font-weight: 600;
          font-size: 21px;
          margin: 11px 0;
        }
        p {
          font-size: 15px;
        }
        &:nth-child(1) {
          margin-top: 2%;
        }
      }
      .btnArrow {
        width: 100%;
        margin-top: 4%;
        span {
          margin-right: 2%;
        }
      }
    }
    .form-contact {
      border-left: 1px solid #bdc2cc;
      padding-left: 50px;
      .privacy {
        flex: 1 1 auto;
        min-width: 300px;
        padding-left: 15px;
        font-size: 12px;
        margin-top: -5px;
      }
      .input-group {
        padding: 0 5px 10px 15px;
        label {
          font-size: 16px;
          margin-bottom: 2px;
          color: #333;
          span {
            color: #B54141;
            font-size: 12px;
          }
        }
        input {
          font-size: 16px;
          width: 100%;
          height: 50px;
          background-color: transparent;
          margin-top: 10px;
          border: 1.6px solid #cfcfcf;
          padding: 13px;
        }
        select {
          padding: 12px;
          font-size: 16px;
          width: 100%;
          height: 50px;
          background-color: transparent;
          margin-top: 10px;
          border: 1.6px solid #cfcfcf;
          &::-ms-expand {
            display: none;
          }
        }
        textarea {
          font-size: 17px;
          padding: 13px;
          font-family: inherit;
          height: auto;
          resize: none;
          border: 1px solid #d9d9d9;
          color: rgba(0, 0, 0, 0.65);
          border-radius: 4px;
          transition: all 0.3s;
        }
        button {
          background-color: #68abff;
          color: #fff;
          margin-top: 10px;
          border: 1px solid #cfcfcf;
          font-size: 15px;
          font-weight: bold;
          padding: 13px;
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      .form-contact {
        border-left: unset;
        padding-left: unset;
        border-top: 1px solid #bdc2cc;
        padding-top: 20px;
      }
      .contact-info {
        .btnArrow {
          margin-top: unset;
          margin-bottom: 2%;
        }
      }
    }
  }
}