.bp3-html-select, 
.bp3-select {
    &.custom-select {
        select {
            background: $color-white;
            border: 1px solid $color-border;
            border-radius: 0;
            max-width: 150px;
            min-height: 40px;
            width: 100%;
            /* @include box-shadow(none);
            @include transition(.3s); */
            
            &:hover,
            &:focus {
                background: $color-white;
                border: 1px solid $color-gray-60;
                /* @include box-shadow(none); */
            }
        }

        &:after {
            font-size: 14px;
            top: 12px;
        }
    }
}

.bp3-slider {
    max-width: 180px;
    .bp3-slider-progress.bp3-intent-primary {
        background: rgba(255,115,152,1);
        background: -moz-linear-gradient(left, rgba(255,115,152,1) 0%, rgba(212,15,68,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,115,152,1)), color-stop(100%, rgba(212,15,68,1)));
        background: -webkit-linear-gradient(left, rgba(255,115,152,1) 0%, rgba(212,15,68,1) 100%);
        background: -o-linear-gradient(left, rgba(255,115,152,1) 0%, rgba(212,15,68,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,115,152,1) 0%, rgba(212,15,68,1) 100%);
        background: linear-gradient(to right, rgba(255,115,152,1) 0%, rgba(212,15,68,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7398', endColorstr='#d40f44', GradientType=1 );
    }

    .bp3-slider-handle {
        &.bp3-start,
        &.bp3-end {
            height: 18px;
            width: 18px;
            border-radius: 50px;
        }

        .bp3-slider-label {
            display: none;

        }

        &.bp3-end {
            .bp3-slider-label {
                margin-left: 0;
            }
        }
        
    }
}

.bp3-checkbox.custom-checkbox {
    display: flex;
    font-size: 13px;
    padding-left: 30px;

    svg {
        font-size: 13px;
        margin-right: 10px;
    }

    @include mediaquery-sm() {
        background: $color-gray-60;
        color: $color-white;
        display: inline-flex;
        margin-right: 10px;
        padding: 5px;

        .bp3-control-indicator {
            visibility: hidden;
        }

        &.checked {
            background-color: #fff;
            border: 1px solid #ff890a;
            color: #ff890a;
        }
    }
}

@media only screen and (max-width: 48em) {
    .bp3-slider {
        max-width: 150px;
        margin: 20px 0;
    }
}
.dropdown{
    &:after{
      top: 17px!important;
      line-height: unset;
    }
  }