@mixin sticky {
    position: -webkit-sticky;
    position: sticky;
}

@mixin border-radius($borderRadius...) {
    /* -webkit-border-radius: $borderRadius; */
       /* -moz-border-radius: $borderRadius; */
     /* -khtml-border-radius: $borderRadius; */
            /* border-radius: $borderRadius; */
}

@mixin appearance ($value) {
	-webkit-appearance: $value;
	   -moz-appearance: $value;
	        appearance: $value;
}

