.langdingPage{

    .topSlider{
        text-align: center;
    }
    .main-content{
        margin-bottom: 80px;
        margin-top: 0;
    }
    .pageHeader{
        background-color: #eef8ff;
        text-align: center;
        padding: 52px 0 20px 0;
        h1{
            margin: 0;
            font-size: 48px;
            font-weight: bolder;
        }
        p{
            letter-spacing: 1px;
        
        }
    }
}
.CategoryTab{
    width: 60%;
    text-align: center;
    margin: 20px auto;
    a{
        display: inline-block;
        font-size: 16px;
        color: #333;
        margin: 0 27px;        
        padding-bottom: 2px;
        border-bottom: 2px solid #fff;
    }
    a:hover{
        border-bottom: 2px solid #999;
    }
    a.active{
        border-bottom: 2px solid #FF5722;
    }
    &.withThumb{
        width: auto;
        margin-top: 45px;
        .thumb{
            background: #fff;
            text-align: center;
            width: 140px;
            height: 140px;
            margin: 0px 12px 10px 12px;
            padding: 22px;
            -webkit-box-shadow: 0 2px 18px -4px rgba(199, 199, 199, 0.51);
            box-shadow: 0 2px 18px -4px rgba(199, 199, 199, 0.51);
            border-radius: 50%;
            img{
                width: 100%;
            }
        }
        a,
        a:hover, 
        a.active{
            border:none;
        }
    }
}