.homePage {
  .mainMenu,
  .mainMenuLogo .navigation-box {
    display: none;
  }
  &.mainLayout {
    .searchInputMobile {
      display: none;
    }
    padding-top: 7.9rem;
    transition: all ease var(--header-transition-duration, 0.5s);
    .categoriesOnMobile {
      display: none;
    }
    .responsiveHeader {
      display: none;
    }
  }
  .header {
    h2,
    h3,
    h2 > span,
    h3 > span {
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .compound-banner {
    min-height: auto;
    max-width: 1300px;
    width: 95%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
      'menu slider'
      'menu banners';
    grid-template-columns: 20% 80%;
    grid-gap: 0;
    position: relative;
    .container {
      max-width: unset;
      width: 100%;
      height: 100%;
      margin: 0;
      height: 100%;
      div:first-child {
        height: 100%;
      }
    }

    .banner {
      display: flex;
      height: 100%;
    }

    .compound-banner--slider.bigSlide {
      grid-area: slider;
      .swiper-button-next {
        right: 0.75rem;
        top: 55%;
        display: none;
      }
      .swiper-button-prev {
        left: 0.75rem;
        top: 55%;
        display: none;
      }
      .title-card {
        position: absolute;
        right: 10%;
        top: 58%;
        transform: translateY(-50%);
        text-align: right;

        .title {
          font-size: 28px;
          text-transform: uppercase;
          font-weight: 600 !important;
          line-height: 1.4;
          margin-bottom: 3rem;
          span {
            color: var(--red-color, #d80638);
          }
        }

        &.no-title {
          right: 20%;
          top: 72%;
          @media only screen and (max-width: 719px) {
            right: 12%;
            top: 79%;
          }
          .button {
            box-shadow: none;
            -webkit-box-shadow: none;
          }
        }
      }
      .banner > img {
        width: 100%;
        height: 100%;
      }
      .swiper-pagination-bullet-active,
      .swiper-pagination-bullet {
        background: #fff;
      }
    }

    .compound-banner--small-banners.featured-banners {
      grid-area: banners;
      @media only screen and (max-width: 719px) {
        margin-top: 0;
      }
      .container {
        display: flex;
        flex-flow: row nowrap;
        &.of-4 {
          .banner {
            width: 25%;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .container {
    .title-deal-zone {
      margin-bottom: unset;
      @media only screen and (min-width: 720px) {
        margin-bottom: -1rem;
      }
    }
    .link-outside-deal-zone {
      display: none;
    }
    @media screen and (max-width: 720px) {
      .content-outside {
        padding: 0px 10px 3px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link-outside-deal-zone {
          display: block;
          a {
            color: #de1740;
          }
        }
      }
    }
  }
  .featuredBox.productCategoryThumbs {
    background: transparent !important;
    padding: 0 !important;
    .container {
      background: #fff !important;
      padding: 2rem !important;
    }
  }

  .featuredBox.brandSlider.searches {
    margin: 20px 0;
    @media screen and (max-width: 720px) {
      margin-top: unset;
      margin-bottom: unset;
      .header {
        h3 {
          font-size: 18px;
        }
      }
    }
    .header {
      display: none;
      margin-top: 0;
      h3 {
        text-align: left;
      }
    }
    .swiper-slide {
      & > div {
        & > a {
          .title {
            font-size: 13px;
            color: #333;
          }
          .description {
            grid-area: count;
            text-align: left;
            font-size: 12px;
            color: #979797;
            height: 1.2rem;
          }
        }
      }
    }
  }

  .product-category-thumbs {
    background: transparent;
    @media only screen and (min-width: 720px) {
      margin-bottom: 30px;
    }
    .container {
      background: #fff;
    }
    .img-as-bg {
      display: none;
    }
    .categories-wrapper {
      align-items: stretch;
      justify-content: space-between;
      @media only screen and (max-width: 719px) {
        overflow-x: scroll;
      }
    }
    .header {
      display: none;
    }
    .item {
      border: none;
      flex: 0 1 11.11%;
      @media only screen and (max-width: 996px) {
        flex: 0 1 20%;
        padding: 1rem;
      }
      @media only screen and (max-width: 384px) {
        flex: 1 0 100px;
        padding-bottom: 20px;
      }
      a {
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        padding-top: 1rem;
        height: 100%;
      }
      .title {
        text-align: center;
        font-size: 14px;
        color: #333;
        padding: 1rem 1.25rem;
      }
      img {
        height: auto;
        width: 50px;
      }
      .img-wrapper {
        border: 2px solid #ebebeb;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        a {
          box-shadow: 1px 1px 3px 1px #ccc;
        }
        img {
          box-shadow: none;
        }
        .img-wrapper {
          &:before {
            border: none;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 720px) {
    .featuredBox.dealZone.WrapItem {
      background: unset;
      width: 101%;
      .header {
        border-bottom: none;
        padding-left: 0;
      }
      .ItemBox {
        width: 100%;
        padding: unset;
        .productItem {
          margin-right: 0.6%;
          margin-top: 5px;
          margin-bottom: 2px !important;
          width: 16%;
          background-color: white;
          position: relative;
          padding: 20px 20px;
          min-height: 410px;
          .content-product {
            position: absolute;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: 0;
            margin-bottom: -50px;
            visibility: hidden;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            opacity: 0;
            transform: scale(0.9);
          }
          @media only screen and (max-width: 1240px) {
            width: 24.3%;
          }
          .add-to-cart-groups {
            display: block;
            opacity: 0;
            position: absolute;
            width: 100%;
            top: 100%;
            &.quick-mode {
              opacity: 1;
              position: relative;
              .addToBox {
                .cart-area {
                  justify-content: center;
                  .btnAddToCart {
                    background: linear-gradient(
                      to right,
                      #fe9247 0%,
                      #feaf48 100%
                    );
                  }
                }
                .qty-wrapper {
                  position: relative;
                  .updateQtyGroup {
                    width: 100%;
                    height: 44px;
                    padding: 7px 20px;
                  }
                }
              }
              @media screen and (max-width: 1440px) {
                .addToBox .cart-area .btnAddToCart {
                  padding: 13px 0px;
                  line-height: 8px;
                }
              }
              @media screen and (max-width: 1240px) {
                .addToBox .cart-area .btnAddToCart {
                  width: 100%;
                }
              }
            }
          }
          &:hover {
            -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            .box {
              a,
              .productName,
              .rating,
              .dropship-label-wrapper,
              .add-wishlist-wrapper,
              .priceWrap,
              .add-to-cart-groups {
                z-index: 2;
              }
              .animation-mode {
                opacity: 1;
                position: absolute;
                animation: myAnimation 0.3s ease-out;
                @keyframes myAnimation {
                  from {
                    top: 110%;
                  }
                  to {
                    top: 100%;
                  }
                }
              }
            }
            .content-product {
              visibility: visible;
              opacity: 1;
              transition: opacity 0.3s ease, visibility 0s ease,
                transform 0.5s ease;
              transform: scale(1);
              z-index: 1;
            }
            .animation-mode {
              .addToBox {
                opacity: 1;
                button {
                  position: absolute;
                  bottom: 0%;
                  background: linear-gradient(
                    to right,
                    #fe9247 0%,
                    #feaf48 100%
                  );
                  height: 40px;
                  margin-bottom: 20px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  box-shadow: 0 4px 12px 0 rgba(98, 98, 98, 0.43);
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 996px) {
    .featuredBox.dealZone.WrapItem {
      .productItem {
        .add-to-cart-groups {
          .addToBox {
            .qty-wrapper {
              position: absolute;
              top: -50%;
            }
          }
        }
      }
    }
  }
  .featuredBox.dealZone {
    position: relative;
    padding: unset;
    background: #fff;
    @media only screen and (min-width: 720px) {
      margin-bottom: 20px;
    }

    .header {
      position: static;
      padding: 15px 20px;
      margin-bottom: unset;
      @media only screen and (min-width: 720px) {
        border-bottom: 1px solid #d5d5d5;
      }
      .swiper-wrapper {
        align-items: stretch;
        .swiper-slide {
          height: auto;
        }
      }
      .col1 {
        flex-basis: 100%;
        .sub-title-area {
          display: flex;
          align-items: center;
          .sub-content {
            font-weight: 500;
            font-size: 15px;
            &.orange-theme {
              color: #ff9d16;
            }
            &.pink-theme {
              color: #e82959;
            }
          }
          .count-down {
            margin-left: 65px;
            display: flex;
            align-items: center;
            p {
              margin-bottom: unset;
              margin-right: 20px;
            }
          }
        }
      }
      .col2 {
        display: flex;
        justify-content: flex-end;
        .viewAllAction {
          right: 0;
          transform: unset;
        }
      }
    }
    .content {
      padding: 10px;
      @media only screen and (max-width:719px) {
        padding-right: 10%;
        overflow: hidden;
      }
    }

    @media screen and (max-width: 720px) {
      padding: unset;
      .swiper-slide {
        margin-left: unset;
      }
      .header {
        padding: 5px 20px;
        .col1 {
          display: flex;
          justify-content: center;
          .sub-title-area {
            .sub-content {
              display: none;
            }
            .count-down {
              margin-left: unset;
            }
          }
        }
        .col2 {
          display: none;
        }
      }
    }
  }

  .featuredBox {
    background: #fff;
    .header .subTitle {
      font-size: 14px;
    }
    .contentZone {
      .productItem .box {
        .dropship-label-wrapper {
          position: absolute;
          top: 2%;
          left: 3%;
        }
        .add-wishlist-wrapper {
          position: absolute;
          top: 3%;
          right: 5%;
        }
      }
    }
    .countdownWrap .countdown {
      font-size: 22px;
    }
    .extra-links {
      display: flex;
      text-align: right;
      flex-direction: row;
      justify-content: flex-end;
      flex: 1 1 0%;
      margin-right: 2rem;
      a {
        color: #333;
        font-size: 16px;
        font-weight: 600;
        &:not(:nth-child(1)) {
          padding-left: 2rem;
        }
      }
    }
    .viewAllAction {
      span:not(.bp3-icon-arrow-right) {
        display: flex;
        align-items: center;
        justify-content: center;
        .bp3-icon-arrow-right {
          padding-left: 0.5rem;
          svg {
            fill: red;
          }
        }
      }
    }
    .flex-content {
      padding: 10px 20px 20px;
      .left-sub-banner {
        @media only screen and (max-width:719px) {
          display: none;
        }
      }
    }
    .flex-content-banner {
      height: 100%;
      position: relative;
      & > img {
        width: 200px;
      }
    }
    .flex-content-sub-banners {
      position: absolute;
      left: 1rem;
      right: 1rem;
      bottom: 2rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .sub-banner-wrapper {
        border-radius: 3px;
        background: #fff;
        width: 47%;
        margin-bottom: 0.5rem;
        height: 2.5rem;
        cursor: pointer;
        box-shadow: 0 0 1px 1px #dedede;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 80%;
          max-height: 75%;
        }
      }
    }
    .flex-content-products {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      transform: translateY(10px);
      .viewAllAction {
        position: inherit;
        max-height: 33px;
      }
      .row {
        margin: 0;
        justify-content: space-around;
        height: 100%;
        align-items: stretch;
      }
      .productItem {
        width: 17%;
        height: 50%;
        max-height: 29rem;
        .box {
          justify-content: unset;
        }

        .rating {
          display: flex;
        }
        .dropship-label-wrapper {
          position: absolute;
          top: 1.5%;
          left: 3%;
        }
      }
    }
  }

  .viewAllAction {
    width: 100px;
    padding: 0.33rem 0rem;
    text-align: center;
    border: 1px solid $bright-red-color;
    border: none;
    width: 7rem;
    span {
      color: $red-color;
      font-weight: 400;
      font-size: 14px;
      svg {
        width: 25px;
      }
    }
  }

  .featured-banners:not(.compound-banner--small-banners) {
    .container {
      background: #fff;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 20px;
      .header {
        padding: 1rem;
        margin-left: 5px;
        padding-bottom: 0;
        @include mediaquery-sm {
          margin-left: 20px;
        }
        h3 {
          margin-bottom: 0;
        }
      }
      a {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .content {
        margin-top: 10px;
        border-top: 1px #ccc solid;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .itemBox {
          width: 40%;
          padding: 15px 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 220px;
            filter: invert(22.25%);
          }
        }
      }
      @include mediaquery-sm {
        @keyframes slidy {
          0% {
            left: 0%;
          }
          20% {
            left: 0%;
          }
          25% {
            left: -100%;
          }
          45% {
            left: -100%;
          }
          50% {
            left: -200%;
          }
          70% {
            left: -200%;
          }
        }
        .content {
          border: none;
          position: relative;
          width: auto;
          margin: 0;
          text-align: left;
          font-size: 0;
          animation: 10s slidy infinite;
          .itemBox {
            padding: 15px 0 0 0;
            width: 375px;
            img {
              width: 200px;
            }
          }
        }
      }

      .button,
      .title,
      .description {
        position: absolute;
      }
      &.of-2 {
        .bg-first.banner {
          flex: 0 0 50%;
          position: relative;
          display: flex;
          padding: 1rem 1rem 2rem 1rem;

          .button {
            right: 10%;
            top: 58%;
            font-size: 13px;
            border: 1px solid black;
          }
          .title {
            right: 10%;
            top: 40%;
            transform: translateY(-50%);
            font-size: 24px;
            font-weight: 500;
            text-align: right;
            color: #000;
            max-width: 230px;
          }
          .img-mobile {
            display: none;
          }
          @include mediaquery-sm {
            .img-mobile {
              display: block;
            }
            .img-desktop {
              display: none;
            }
          }
        }
      }
      &.of-3 {
        .bg-first.banner {
          flex: 0 0 33%;
          position: relative;
          display: flex;
          padding: 1rem 1rem 2rem 1rem;

          .button {
            left: 10%;
            top: 55%;
            font-size: 16px;
            background: transparent;
            color: $red-color;
            padding: 0;
            border: none;
            span {
              border-bottom: 1.5px solid $red-color;
            }
          }
          .title {
            left: 10%;
            top: 18%;
            /* transform: translateY(-50%); */
            font-size: 22px;
            font-weight: 600;
            color: #000;
            text-transform: uppercase;
            span {
              color: $dark-red-color;
            }
          }
          .description {
            font-size: 14px;
            font-weight: 500;
            left: 10%;
            top: 10%;
            text-decoration: underline;
          }
          .img-mobile {
            display: none;
          }
          @include mediaquery-sm {
            .img-mobile {
              display: block;
            }
            .img-desktop {
              display: none;
            }
          }
        }
      }
      &.of-9 {
        padding: 20px 10px 0px 5px;
        .bg-first.banner {
          flex: 0 0 33%;
          padding-left: 10px;
          .description {
            font-weight: bold;
            font-size: 19px;
            padding-left: 5px;
            padding-bottom: 5px;
            position: relative;
          }
          .img-mobile {
            display: none;
            img {
              height: 100%;
            }
          }
          @include mediaquery-sm {
            .description {
              font-size: 13px;
              padding-left: 0;
            }
            .img-mobile {
              display: block;
            }
            .img-desktop {
              display: none;
            }
          }
        }
      }
    }
  }

  @include mediaquery-max(1280px) {
    .navigation-box .nav-category {
      margin: 0;
      width: 100%;
    }
    .menu.allProducts {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  @include mediaquery-max($breakpoint-lg) {
    .main-content {
      margin-top: 0;
    }
    &.mainLayout {
      padding-top: var(--main-bar-height-mobile);
    }
    .compound-banner {
      grid-template-areas: 'slider' 'banners';
      grid-template-columns: 100%;
      grid-row-gap: 2rem;
      background-image: var(
        --header-gradient,
        linear-gradient(90deg, #f15826 0%, #e51e79 49%, #6a2d91 100%)
      );
      background-repeat: no-repeat;
      background-size: 100% 20%;
      width: 100%;
      padding: 0;
      margin-bottom: unset;
      .compound-banner--slider.bigSlide {
        .title-card {
          .title {
            font-size: 4vw;
          }
        }
        .banner {
          display: block;
        }
      }
      .compound-banner--menu.navigation-box {
        display: none;
      }
      .compound-banner--small-banners.featured-banners {
        display: none;
        .container.of-4 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-gap: 2rem;
          .banner {
            width: 100%;
          }
        }
      }
    }
    .main-content .container {
      padding: 0;
      margin-bottom: 10px;
    }
    .featured-banners:not(.compound-banner--small-banners) {
      .container {
        .header {
          padding: 0;
        }
        &.of-3 {
          justify-content: space-between;
          padding-bottom: 2rem;
          .bg-first.banner {
            flex: 0 0 49%;
            padding: 0;
            padding-top: 1rem;
            /* &:nth-child(2) { padding-left: 1rem; }
             &:nth-child(3) { padding-right: 1rem; } */
            &:last-child {
              display: none;
              @include mediaquery-sm() {
                display: block;
              }
            }
          }
        }
        &.of-2 {
          .bg-first.banner {
            flex: 0 0 100%;
            padding: 0.4rem 0;
          }
        }
      }
    }
    /* .featuredBox,
    .featuredBox.dealZone {
       padding-left: 1rem;
       padding-right: 1rem;
    } */
    .featuredBox {
      margin-top: 1rem;
      .header {
        align-items: center;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;
      }
      .extra-links {
        flex-flow: row wrap;
        a:not(:nth-child(1)) {
          padding-left: 0;
        }
        a {
          padding-right: 1.25rem;
        }
        @include mediaquery-sm() {
          display: none;
        }
      }
      .flex-content-products {
        .productItem {
          width: 32%;
          .imgWrap img {
            height: calc(110vw / 4 - 100px);
          }
          &:nth-last-child(-n + 4) {
            display: none;
          }
        }
      }
    }
    .featured-banners {
      margin-top: 2rem;
    }
  }
  @media only screen and (min-width: $breakpoint-xl) {
    .main-content .compound-banner {
      width: 85%;
    }
  }

  @include mediaquery-max($breakpoint-md) {
    .compound-banner {
      .compound-banner--slider.bigSlide {
        .title-card {
          .button {
            padding: 0 1.5rem;
            font-size: 13px;
            min-height: 28px;
          }
        }
      }
    }
    .featuredBox {
      .flex-content-products,
      .lazyList {
        justify-content: space-between;
        .productItem {
          width: 32%;
          .imgWrap {
            padding-right: 0;
          }
        }
      }
      .flex-content-products {
        .productItem {
          width: 32%;
          max-height: unset;
          height: unset;
          margin-bottom: 15px;
          .imgWrap {
            padding-right: 0;
            img {
              height: calc(95vw / 2 - 40px);
            }
          }
          &:nth-last-child(-n + 3) {
            display: block;
          }
        }
      }
      .contentZone.lazyList > div {
        padding-right: 0;
      }
      &.dealZone .header {
        .col1 {
          flex-direction: row;
        }
        .subTitle {
          margin-top: 6px;
        }
      }
    }
    .product-category-thumbs .item .title {
      font-size: 13px;
      padding: 1rem 0.25rem;
    }
    .featuredBox.brandSlider.searches .swiper-slide > div > a {
      font-size: 16px;
      padding: 1rem;
      grid-template-columns: 75% 25%;
    }
    .productItem {
      .productName {
        font-size: 14px;
        height: 40px;
      }
    }
    .featured-banners:not(.compound-banner--small-banners) {
      .container.of-3 .bg-first.banner {
        flex: 0 1 95%;
        margin: 0 auto;
      }
    }
  }

  @include mediaquery-max(539px) {
    .featuredBox {
      .flex-content-products,
      .lazyList {
        .productItem {
          width: 48%;
          box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
            rgba(0, 0, 0, 0.03) 1px 1px 1px 1px;
        }
      }
      .flex-content-products {
        .productItem {
          &:nth-last-child(-n + 4) {
            display: block;
          }
        }
      }
    }
    /*  .featured-banners:not(.compound-banner--small-banners) {
      .container.of-3 .bg-first.banner {
         flex: 0 1 100%;
       }
     } */
  }
  @media only screen and (min-width: $breakpoint-sm) {
    .flex-box {
      display: none;
    }
  }
  @include mediaquery-max($breakpoint-md) {
    .main-content {
    }
    .bigSlide {
      .banner > img {
        max-height: 33vw;
      }
    }
    .compound-banner {
      grid-row-gap: 0rem;
      width: 100%;
      height: auto;
      background-size: cover;
      display: block;
      .compound-banner--small-banners.featured-banners {
        .container.of-4 {
          grid-gap: 1rem;
        }
      }
      .compound-banner--slider.bigSlide {
        height: 100%;
        .title-card {
          .title {
            margin-bottom: 0.5rem;
          }
          .button {
            padding: 0 1rem;
            font-size: 11px;
            min-height: 25px;
          }
        }
      }
    }
    .featured-banners:not(.compound-banner--small-banners) {
      .container.of-3 .bg-first.banner {
        .title {
          font-size: 18px;
        }
        .description {
          font-size: 13px;
        }
        .button {
          font-size: 14px;
        }
      }
    }
    .featuredBox {
      margin-top: unset;
      .header .heading h2 span {
        font-size: 18px;
      }
    }
    .featured-banners {
      margin-top: unset;
      .header h3 {
        font-size: 18px;
        margin-top: 10px;
      }
    }
    /* Responsive Header Mobile  */
  }
  @include mediaquery-max($breakpoint-md) {
    &.mainLayout {
      padding-top: unset;
      .header-wrap-content-res {
        position: fixed;
        width: 100%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.025),
          1px 1px 1px 1px rgba(0, 0, 0, 0.03);
        .searchInputMobile {
          position: relative;
          box-shadow: none;
          padding: 0;
          .searchBarInput {
            background-color: #f7f7f7;
            border: 0;
          }
          .input-search {
            display: block;
            left: 0;
            background-color: #f7f7f7;
          }
        }
        background: white;
        z-index: 4;
        height: 3.75rem;
        padding: 8px 16px;
        .flex-box {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 100%;
          .mm-button {
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .ham {
            background: #333;
            height: 2px;
            width: 80%;
            position: relative;
            transition: all 0.3s ease;
            &:before {
              bottom: 8px;
            }
            &:after {
              top: 8px;
            }
            &:before,
            &:after {
              content: '';
              background: #333;
              position: absolute;
              height: 2px;
              width: 100%;
              transition: all 0.5s ease;
            }
            &.open {
              background: transparent;
              &:before {
                transform: rotate3d(0, 0, 1, 45deg);
                bottom: 0;
              }
              &:after {
                transform: rotate3d(0, 0, 1, -45deg);
                top: 0;
              }
            }
          }
          .logo {
            margin-left: 10px;
            img {
              width: 4rem;
            }
          }
          .icon {
            .countNumber {
              span {
                position: absolute;
                top: 7px;
                right: 47px;
                background: #e41446;
                color: #fff;
                padding: 2px;
                width: 1.3rem;
                height: 1.3rem;
                border-radius: 50%;
                text-align: center;
                font-size: 11px;
              }
            }
            img {
              height: 1.5rem;
            }
          }
        }
      }
      .searchInputMobile {
        display: block;
        &.hide {
          opacity: 0;
          top: -10%;
          transition: all 0.5s;
        }
        &.show {
          background-color: #fff;
          opacity: 1;
          top: 0%;
          transition: all 0.5s;
        }
        position: fixed;
        right: 0;
        left: 0;
        z-index: 2;
        padding: 0px 16px;
        box-shadow: 0 5px 10px rgba(34, 25, 36, 0.2);
        .searchBarBox {
          display: block;
          .bp3-drawer-header {
            margin: 4px 0px;
          }
          .searchBar .bp3-input {
            border-radius: 3px;
          }
          .searchBar .bp3-drawer-header .bp3-input-group {
            .searchBarInput {
              height: 1rem;
              padding: 1.3rem 0rem 1.3rem 2.5rem !important;
              font-size: 16px !important;
              height: 40px;
            }
            .input-search {
              border-radius: 0px;
              padding: 0 5px;
              right: 0;
              i {
                left: 8px;
              }
              svg {
                width: 20px;
                margin-top: 2px;
              }

              @media screen and (max-width: 320px) {
                right: 87%;
              }
            }
          }
        }
      }
    }
    .header .headerBox .headerWrap {
      background: transparent;
      display: none;
      .searchBarBox {
        display: none;
      }
    }
  }
  .mainMenuLogo {
    .navigation-box {
      display: none;
    }
  }
}
